<button class='run-later' {{action 'runLater'}}>Ember.run.later()</button>
<button class='promise-wrapped-run-later' {{action 'promiseWrappedRunLater'}}>Ember.run.later() wrapped in a Promise</button>
<button class='run-wrapped-set-timeout' {{action 'runWrappedSetTimeout'}}>setTimeout() wrapped in Ember.run</button>
<button class='promise-wrapped-set-timeout' {{action 'promiseWrappedSetTimeout'}}>setTimeout() wrapped in a Promise</button>
<button class='katies-approach' {{action 'katiesApproach'}}>@katie's approach</button>

<div class='status'>
  {{if asyncDidRun 'Async ran' 'Async did not run'}}
</div>
